<!-- {% load static %}

<!DOCTYPE html> -->
<!-- Created By CodingLab - www.codinglabweb.com
<html lang="en" dir="ltr">
 
  <head>
    <meta charset="UTF-8"> -->
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <!-- <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head> 
<body>
  {% block content %}
  <form id = "form1" action=" " method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %} -->
  <!-- </form> -->
  <!-- <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" class="form-control" id="id-firstname" name= "firstname" placeholder="Enter your first name" required>
          </div>
          <div class="input-box">
          <span class="details">Last Name</span>
          <input type="text"  class="form-control" id="id-lastname" name= "lastname" placeholder="Enter your last name" required>
        </div>
        
          <div class="input-box">
            <span class="details">Student ID</span>
            <input type="text"  class="form-control" id="id-idn" name= "idn" placeholder="Enter your username" required>
          </div>
         
          <div class="input-box">
            <span class="details">Year Level</span>
            <input type="text"  class="form-control" id="id-year" name= "year" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" class="form-control" id="id-address" name= "address" placeholder="Enter your address" required>
          </div>
        
        <div class="input-box">
          <span class="details">Course</span>
          <input type="text"  class="form-control" id="id-course" name= "course" placeholder="Enter your course">
        </div>
     
      </div> -->
     
     <!--  <div class="button">
          <input type="submit" value="Submit">
        </div>--> 

<!--      
            <br><br>
            <p align="left">
              Fields marked with * are required.
            </p>
           <center>
             <a type = "button" class="btn btn-secondary" id="id_registration" href="{% url 'myapp1:my_dashboard_view' %}" >CANCEL</a>
             <button type="submit" class="btn btn-primary">Submit</button>
           </center>
          </form>
          {% endblock content %} -->
